streamlit
streamlit-autorefresh
streamlit-option-menu

pandas
openpyxl
plotly-express
altair

requests
supabase>=2.15.3
psycopg2-binary
python-dotenv

gspread
google-auth

robotframework
robotframework-seleniumlibrary
selenium

reportlab
pypdf

fastapi
uvicorn[standard]

pywebpush
py-vapid