streamlit
streamlit-autorefresh
pandas
altair
requests
gspread
google-auth
robotframework
robotframework-seleniumlibrary
selenium
psycopg2-binary
python-dotenv
openpyxl
streamlit
streamlit-option-menu
pandas
plotly-express
pathlib
reportlab
pypdf
